@model TH_BigSchool.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .attending-content {
        padding: 50px 0;
    }

    hr {
        margin: 5px 0px;
    }

    .Date {
        text-align: center;
        background-color: rebeccapurple;
        color: white;
        width: 60px;
        border-radius: 8px;
    }

    .Month, .Day {
        padding: 10px 0px;
    }

    .Items {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .Details {
        margin: 0px 20px;
    }
</style>
<div class="row attending-content">
    <h3>Danh Sách Khóa Học Tham Dự</h3>
    <ul class="Course" id="native">
        @foreach (var course in Model.LectureFollowing)
        {
            <li class="Items">
              
                <div class="Details">

                    <span class="Lecturer">
                        <b> @course.Name</b>
                    </span>

                    <span> - </span>
                    @if (Model.ShowAction)
                    {
                        <button class="btn btn-danger btn-sm js-toggle-follow" data-user-id="@course.Id">
                            
                            @Html.ActionLink("UnFollow" , "DeleteFollowing", "Courses", new { id = course.Id}, null)
                        </button>
                    }
                   
                </div>
            </li>
        }
    </ul>

    @*@section Scripts
        {
        <script>
           $(document).ready(function () {

               $(".js-toggle-attendance").click(function (e) {
                //   alert("nam");
                   var button = $(e.target);

                   $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                       .done(function () {
                           button
                               .removeClass("btn-danger")
                               .addClass("btn-info")
                               .text("IsGoing");
                       })
                       .fail(function () {
                           alert("some thing failed");
                       });
               });

               $(".js-toggle-follow").click(function (e) {
                   //alert("nam");
                   var button = $(e.target);
                   $.post("/api/Followings", { followeeId: button.attr("data-user-id") })
                       .done(function () {
                           button.text("Following");
                       })
                       .fail(function () {
                           alert("some thing failed");
                       });
               });


           });

        </script>

    }*@
</div>


